*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Raleway", sas-serif;
	background:#dedcdc;
}

h1{
	margin-top:33px;
	padding: 24px;
	text-transform:uppercase;
	font-weight: 300;
	font-style:32px;
	letter-spacing: 8px;
	color:#000;
	
}


h1:: after{
	content: "";
	display: flex;
	border-top: 1px solid #585858;
	margin-top:6px;
}

#searchBox {
	height:80px;
	width:600px;
	background: #fff;
	border:none;
	padding:8px 32px;
	font-family: "Raleway", sans-serif;
	font-size:16px;
}

#searchBox:focus {
	
	outline:none;
}

#dataViewer{
	padding: 32px;
	list-style:none;
	background: #373737;
	width:600px;
	color:#fff;
	height: 400px;
	overflow-y:scroll;
}

#dataViewer li {
	padding: 8px 0;
	border-left: 1px solid #635f5f;
	padding-left: 24px;
}

#dataViewer:: -webkit-scrollbar {
	width:4px;
	background:#101010;
}

#dataViewer:: -webkit-scrollbar-thumb{
	background:#ffffff;
	
	